<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4 class="st-adv">NAS Drives</h4>
    <p>We build <em>CentOS</em> Linux NAS drives for speed and stability</p>
    <hr>
    <h4 class="nd-adv">Remote Backup</h4>
    <p>Talk to us about backing up your computers to a <em>secure</em> off site facility</p>
    <hr>
    <h4 class="rd-adv">Network Security</h4>
    <h5>Talk to us about</h5>
    <p>VPNs,
      Content filters,
      Rogue APs,
      Multiple SSIDs,
      Traffic Shaping,
      Threat Protection,
      Content Filtering,
      Remote Managament</p>
  </div>

  <div class="sidebar-module">
    <h4>More content here:</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.youtube.com/watch?v=ikZc3RUp_Dc"><%= fa_icon "youtube" %></a></li>
      <li><a href="https://github.com/mascotguardian/forumApp/pull/16"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>