<section class="jumbotron text-center">
<div class="container">
    <h1 class="jumbotron-heading">Blog Articles</h1>
    <p class="lead text-muted">Feel free to leave a blog comment</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  <!-- </div> -->
</div>
</section>