<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">2D and 3D Asset Portfolio</h1>
    <p class="lead text-muted">もっと見るには写真のタイトルをクリックしてください。</p>
    <p class="lead text-muted">Click on a picture's title to view more.</p>
    <p>
      <%= link_to 'See videos', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Tech Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>