<div class="col-sm-8 blog-main">
  <div class="inner cover">
    <h1 class="cover-heading">Hastle Free Web Applications</h1>
    
    <p class="lead">Your websites is constructed on a secure postgreSQL database and can be provided on a scaleable server that can grow and shrink with your business.</p>
    <p class="lead">All you need is a domain name pointing to our virtual server address. All other services are taken care of by us on your virtual server</p>
      <p>We also help you improve your image with elegant video and 3D Animations

      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    <!-- <p class="lead">
      <%= link_to "Checkout my blogs", blogs_path, class: "btn btn-lg btn-secondary" %>
    </p> -->
  </div>

</div>
