<h1>Hastle Free Web Applications</h1>

<hr>
  <div>
    <p class="lead">Your websites is constructed on a secure postgreSQL database and can be provided on a scaleable server that can grow and shrink with your business.</p>
    <hr>
    <p class="lead">All you need is a domain name pointing to our virtual server address. All other services are taken care of by us on your virtual server</p>
    <p>We also help you improve your image with elegant video and 3D Animations</p>
  </div>

  
</div>
