<div class="col-sm-8 blog-main">
  <div class="inner cover">
    <h2 class="cover-heading">Hastle Free Web Applications</h2>
    
    <p class="lead">Want to create a website that allows users to interract with your site? Building a website that allows your visitors to log-in and leave comments is a complex task. We provide the system so all you need to do is focus on your content.</p>
    <hr>

    <h3 class="cover-heading">Your Website Resources are Scaleable</h3>
    <p class="lead">We construct your website with a scaleable database that can grow and shrink with your business or hobbie.</p>
    <hr>

    <h3 class="cover-heading">Make it yours</h3>
    
    <p class="lead">All you need is a domain name pointing an address on our server.  All maintenance is taken care of by us</p>

    <hr>

    <h3 class="cover-heading">Maintain Your Site Via Your Personal Admin Account</h3>
    
    <p class="lead">The tools you need to upload images and change blog content are built into your user profile. No need to insert your text between code</p>

    <hr>

    <h3 class="cover-heading">Need imagery?</h3>
      <p class="lead">We also supply custom 3D and 2D content</p>

      <p>See the portfolios section for further details</p>

    <hr>
    <!-- <p class="lead">
      <%= link_to "Checkout my blogs", blogs_path, class: "btn btn-lg btn-secondary" %>
    </p> -->
  </div>

</div>
