<div class="col-sm-8 blog-main">
  <div class="inner cover">
    
    
    <h1>Production Videos and Cinemagraphs</h1>
    <br>
    <h4 class="cover-heading">QSP Advertising Video</h4>

    <div class="utube">
      <iframe src="//www.youtube.com/embed/uzctkV3DnX0" frameborder="0" allow="Accountelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="uvideo"></iframe>
    </div>
    <p>Technology used: 60D, XF100, GoPro, Davinci Resolve, Motion, Blender 3D</p>
    <br>

    <div class="utube">
    <h4 class="cover-heading">Demo Reel</h4>
    <iframe src="//www.youtube.com/embed/vjgp9ePBL5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="uvideo"></iframe>
    </div>
    <p>Technology used: 60D, XF100, GoPro, Davinci Resolve, Motion, Blender 3D, FCPx</p>

    <h2>Tech Videos</h2>
    <h4 class="cover-heading">Mount and Unmount Disks in OSX Terminal</h4>

    <div class="utube">
      <iframe src="//www.youtube.com/embed/ikZc3RUp_Dc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="uvideo"></iframe>
    </div>
    <p>Technology used: Apple computer running OSX</p>
    <br>

    <h4>Format A Drive In OSX Terminal</h4>

    <div class="utube">
      <iframe src="https://www.youtube.com/embed/A21iyAd0a4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="uvideo"></iframe>
    </div>
    <p>Technology used: Apple computer running OSX</p>
    <br>
    <hr>
    <!-- <p class="lead">
      <%= link_to "Checkout my blogs", blogs_path, class: "btn btn-lg btn-secondary" %>
    </p> -->
  </div>

</div>
