<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>
<!-- number_to_phone appears to render as a US phone number -->
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "5675765343590" %></p>
