<div class="col-sm-8 blog-main">
  <h1>新川の支社</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Branch Office</h3>
      <p>Shinkawa Japan</p>
      <p><%= number_to_phone "0473250155" %></p>
      <h3>Email</h3>
      <p>email form goes here</p>
    </div>

    <div class= "col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.136095459605!2d139.7799702150834!3d35.67365078019609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188967f19be87f%3A0x403229e677b09926!2sShinkawa!5e0!3m2!1sen!2sau!4v1556881357486!5m2!1sen!2sau" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <!-- number_to_phone appears to render as a US phone number -->
  <!-- <p><%= number_to_currency "150" %></p>
  <p><%= number_to_percentage "80.4" %></p>
  <p><%= number_with_delimiter "5675765343590" %></p> -->
</div>
