<div class="inner cover">
  <h1 class="cover-heading">Web Site development and 3D Animations</h1>
  <p class="lead">Building functional and practical web sites and animated assets to help improve productivity and advertising appeal.</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
