<div class="col-sm-8 blog-main">
  <div class="inner cover">
    <h1 class="cover-heading">専門</h1>
    <h1 class="cover-heading">Back-end web app development with PostgreSQL.</h1>
    
    <p class="lead">What kind of website do you want to create? A personal blog, a portfolio, a business site? Whatever your site, we are certain you would agree that your site needs to run fast and free from errors.  We are here to help you make the important decisions and supply a product that helps your business.</p>
    <hr>

    <h2 class="cover-heading">2D and 3D Assets</h2>
    <p class="lead">Browse our portfolio area to see animations that we have produced. Animated assets such as cinemagraphs are great tools for improving product appeal.</p>
    
    <hr>

    <h2 class="cover-heading">Learning To Code?</h2>
    <p class="lead">Help yourself to snippets from our coding section. Click on Blogs from the menu and select a desired topic.</p>
    <p class="lead">
      <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>

  </div>

</div>
