<div class="col-sm-8 blog-main">
  <div class="inner cover">
    <h1 class="cover-heading">専門</h1>
    <h1 class="cover-heading">Back-end web app development with PostgreSQL.</h1>
    
    <p class="lead">Building functional and practical web sites and animated assets to help improve productivity and advertising appeal.</p>
    <p class="lead">
      <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

</div>
