<div class="col-sm-8 blog-main">
  <div class="inner cover">
    <h1 class="cover-heading senmon">専門</h1>
    <h2 class="cover-heading">Hastle Free Web Applications</h2>
    <h1 class="cover-heading">Back-end web app development with PostgreSQL.</h1>
    
    <p class="lead">What kind of website do you want to create? A personal blog, a portfolio, a business site? Whatever your site, we're certain you would agree that your site needs to run fast and free from errors.  We're here to help you make the important decisions and supply a product that helps your business.</p>
    <br>
    <h3 class="cover-heading">Scaleable Web Resources</h3>
    <p class="lead">We construct your website with a scaleable database that can grow and shrink with your business or hobbie.</p>
    <br>
    <h3 class="Allow Visitor Interraction"></h3>
    <p class="lead">Building and maintaining a website that allows your visitors to interract with comments is a complex task. We do the heavy lifting so all you need to do is focus on your content.</p>
    <hr>

    <h3 class="cover-heading">Make it yours</h3>
    
    <p class="lead">All you need is a domain name. If you don't have one, we can arrange one with you.</p>

    <h2 class="cover-heading">2D and 3D Assets</h2>
    <p class="lead">Browse our portfolio area to see animations that we have produced. Animated assets such as cinemagraphs are great tools can improving product appeal.</p>
    <p class="lead">We also supply custom 3D and 2D content</p>
    
    <hr>

    <h2 class="cover-heading">Learning To Code?</h2>
    <p class="lead">Help yourself to snippets from our soon to arrive coding section. Click on Blogs from the menu and select a desired topic.</p>
    <br>
    <p class="lead">
      <%= link_to "Video Portfolio", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>

  </div>

</div>
